body {
  font-family: Arial;
}

li {
  display: flex;
  list-style-type: none;
}

img {
  padding-right: 0;
}

@keyframes highlight {
  0% {
    border-color: rgb(85, 173, 255);
  }

  100% {
    border-color: transparent;
  }
}

.pokemon-cards-section {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  row-gap: 2vh;
  flex-flow: row wrap;
  margin-left: 14vw;
  margin-right: 14vw;
  padding-bottom: 8vh;
}

.details-card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  background-color: #f0f0f0;
  text-transform: capitalize;
  height: 550px;
  width: 500px;
  border: solid 5px;
  margin-left: 2vw;
  margin-right: 2vw;
}
.details-cardhighlight {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  text-transform: capitalize;
  height: 550px;
  width: 500px;
  border: solid 5px;
  /* box-sizing: border-box; 
  border: solid 10px;
  animation: highlight 1.7s ease-in-out infinite; */
  background-color: #f0f0f0;
  margin-left: 2vw;
  margin-right: 2vw;
}

.pokemon-details-box {
  grid-column-start: 2;
  border-color: #222224;
  border-width: 5px;
  border-style: none none none solid;
}

.sprite-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-sprite {
  width: 90%;
  border-radius: 50%;
  background-color: rgb(218, 218, 218);
}

.pokemon-name {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-size: x-large;
  height: fit-content;
  width: 100%;
  font-weight: bold;
}

.pokemon-types-box {
  display: flex;
  margin-top: 10px;
  padding: 0%;
  justify-content: center;
  gap: 10px;
}
.pokemon-primary-type {
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  font-size: x-large;
  border-radius: 50px;
}
.pokemon-secondary-type {
  height: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  font-size: x-large;
  border-radius: 50px;
}

.pokemon-abilities-box {
  justify-items: center;
  margin-top: 20px;
  font-size: large;
  border-width: 4px;
  border-color: #222224;
  border-style: solid none solid none;
  height: auto;
  width: 1fr;
}

.abilities-title {
  display: flex;
  justify-content: center;
  border-color: #222224;
  border-width: 2px;
  border-style: none none solid none;
  justify-self: center;
  font-weight: bold;
  width: 100%;
  background-color: #fcfc55;
}

.pokemon-abilities {
  padding: 0;
  flex-direction: column;
}

.hidden-ability-icon {
  height: 20px;
  width: 20px;
}

.pokemon-link {
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 5%;
  color: black;
}

.pokedex-background {
  border: solid 5px;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.stat-chart-section {
  height: 250px;
  width: 500px;
  border-top: #222224;
  border-width: 5px;
  border-style: solid none solid none;
  gap: 2vw;
  text-align: center;
}

.stat-chart-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 500px;
  background-color: #f0f0f0;
}

.stat-chart-inner-box {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: auto auto;
  height: 250px;
  border: solid 2px #222224;
  background-color: #f0f0f0;
}

.stat-chart-inner-box-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
  align-content: center;
  text-align: center;
  border-style: none solid solid none;
  border-color: #222224;
  border-width: 2px;
  background-color: #fcfc55;
  font-weight: bold;
}

.total-base-stat {
  grid-column: 2;
  grid-row: 1;
  border-color: #222224;
  border-width: 2px;
  border-style: none none solid none;
  background-color: #fcfc55;
  font-weight: bold;
}

.stat-chart-inner-box-stats {
  grid-row-start: 2;
  display: flex;
  flex-flow: column;
  height: 231px;
  border: 2px #222224;
}

.individual-stat-label {
  height: auto;
  width: min-content;
  padding-left: 1px;
  padding-right: 1px;
}

.individual-stat-box {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border-width: 2px;
  border-style: none solid solid none;
  height: 200px;
  padding-top: 5px;
}

.stat-chart-inner-box-bars {
  grid-column-start: 2;
  grid-row-start: 2;
  height: 281px;
  width: 100%;
}

.individual-stat-bar {
  display: flex;
  flex-flow: row;
  height: 36.5px;
  width: max-content;
  border-width: 2px;
  border-style: none none solid none;
}

.stat-chart-inner-box-stats-total {
  height: auto;
}

.hidden-ability-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
