.error-box {
  display: flex;
  justify-content: baseline;
  position: absolute;
  z-index: 100;
  border: solid 1px #0002;
  opacity: 1;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
  background: white;
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0 2px 16px #0002;
  text-align: center;
}

.error-box > img {
  width: 20px;
  padding-right: 4px;
}
