.header-box {
  height: 80px;
  max-width: 100%;
  background-color: #ee1515;
}

.header-component {
  display: flex;
  justify-content: center;
  align-content: center;
}

.header-component > * {
  height: 40px;
  font-size: large;
  border: none;
  border-radius: 50px;
}
