.random-button {
  margin-top: 10px;
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 25px;
  background-color: #ee1515;
}

.random-button:hover {
  background-color: rgb(150, 2, 2);
}
