li:hover {
  background-color: rgb(218, 218, 218);
}

.search-bar {
  margin-top: 20px;
  height: 40px;
  width: 400px;
  font-size: large;
  text-indent: 10px;
  border: none;
  border-radius: 50px;
}

.autocomplete-list {
  position: "absolute";
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  z-index: 100;
  list-style: "none";
  margin: 0;
  padding: 0;
}

@media (max-width: 425px) {
  .search-bar {
    width: 300px;
  }
}
